@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
.slider-container {
    width: 100%;
    overflow: hidden;
    margin-top: 200px;
  }
  
  .slider-content {
    animation: slide-left 10s linear infinite;
    font-size: 120px;
    white-space: nowrap;
    animation-fill-mode: forwards;
    
  }
  .slider-content p {
  display: inline;
}
  @keyframes slide-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .slider-content p {
    /* font-family: 'Black Ops One', cursive;
    color: rgba(240, 248, 255, 0.062);
    cursor:default; */

    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: transparent;
    margin-right: 20rem;
    -webkit-text-stroke: 0.1rem rgb(153, 153, 153);
    opacity: 0.8;
  }

  @media only screen and (max-width: 767px) {
    .slider-container {
      margin-top: 150px;
    }
    
    .slider-content {
      font-size: 80px;
      margin-right: 10rem;
    }
    
    .slider-content p {
      margin-right: 10rem;
    }
  }